a{
    background-color: #FEE74C;
    background-color: #78D6E0;
    background-color: #db79c6;



    background-color: #9F1EE5;
    background-color: #230FAE;
    background-color: #db79c6;
    background-color: #db79c6;
    background-color: #db79c6;
    background-color: #db79c6;
    background-color: #db79c6;
    background-color: #db79c6;
    background-color: #db79c6;
    background-color: #db79c6;
    background-color: #db79c6;
    
    
    
}

/* 
Home
skills
Project 
Reviews 
About
 ==>previous jobs
 ==>Own design or coding projects
 ==>GitHub for developers
 ==> Education
 ==>Social media accounts
 ==>Downloadable resume
 ==>specialties & services you offer
 ==>Videos (that are relevant to your craft)


 react
 node.js
 js
 express
 html
 sass


 css
 bootstrap



 material ui




*/